@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #041E40;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #79AEF2;
    --cor-hover: #051326;
    --fonte--primaria: 'Krona One', sans-serif;
    --fonte--secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0; /*margin e o padding 0 vão tirar ambos */
    padding: 0;
}

body {
    /*height: 100vh; adaptação ao viewport*/
    box-sizing: border-box; /*nada fugirá da box*/
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0 0 15%;
    background-color: var(--cor-primaria);
}

.cabecalho__menu {
    display: flex;
    gap: 35px;
}

.cabecalho__menu__link {
    font-family: var(--fonte--secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 3% 15%;
    display: flex;
    align-items: center; /*alinhar itens*/
    justify-content: space-between; /*espaço entre os elementos*/
    gap: 50px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column; /*agrupar os elementos em coluna*/
    gap: 31px; /*distancia entre os elementos*/
    padding: 0 0 26px;
}

.apresentacao__conteudo__titulo {
    font-size: 2rem;
    font-family: var(--fonte--primaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.35rem;
    font-family: var(--fonte--secundaria);
}



.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte--primaria);
    font-weight: 400;
    font-size: 1.35rem;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 45%;
    text-align: left;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 19.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte--secundaria);
}

.apresentacao__links__navegacao:hover {
    background-color: #051326;
    scale: 1.1;
}

.apresentacao__imagem {
    position: relative;
    bottom: 28px;
    display: flex;
    width: 45%;
}

.rodape {
    padding: 16px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte--secundaria);
    font-size: 1.25rem;
    font-weight: 400;
}

/*CSS Curriculo*/

.curriculo {
    padding: 3% 15%;
    display: flex;
    align-items: center; /*alinhar itens*/
    justify-content: space-between; /*espaço entre os elementos*/
    gap: 50px;
}

.curriculo__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column; /*agrupar os elementos em coluna*/
    gap: 31px; /*distancia entre os elementos*/
}

.curriculo_conteudo__titulo {
    font-size: 2rem;
    font-family: var(--fonte--primaria);
}

.curriculo__conteudo__texto {
    font-size: 1.35rem;
    font-family: var(--fonte--secundaria);
}

.curriculo__conteudo__listas {
    font-size: 1.35rem;
    font-family: var(--fonte--secundaria);
    text-align: left;
}

.curriculo__imagem {
    position: relative;
    bottom: 60px;
    display: flex;
    width: 45%;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10% 0 2% 2%;
    }

    .cabecalho__menu {
        display: flex;
        justify-content: center;
    }

    .apresentacao {
        padding: 5%;
        flex-direction: column-reverse;
        gap: 25px;
        text-align: center;
    }

    .apresentacao__conteudo {
        width: auto;
        gap: 20px;
    }

    .apresentacao__conteudo__titulo {
        font-size: 2rem;
    }

    .apresentacao__conteudo__texto {
        font-size: 1.25rem;
    }

    .apresentacao__conteudo__listas {
        padding: 4%;
        font-size: 1rem;
    }

    .apresentacao__imagem {
        width: 60%;
        bottom: 0;
    }

/*curriculo*/

    .curriculo {
        padding: 5%;
        flex-direction: column-reverse;
        gap: 25px;
    }

    .curriculo__conteudo {
        width: auto;
        gap: 15px;
    }

    .curriculo_conteudo__titulo {
        font-size: 1.5rem;
    }

    .curriculo__conteudo__texto {
        font-size: 1.25rem;
    }

    .curriculo__conteudo__listas {
        padding: 4%;
        font-size: 1.25rem;
    }

    .curriculo__imagem {
        width: 60%;
        bottom: 0;
    }

}

@media (max-width: 380px) {
    .cabecalho__menu__link {
        font-size: 1rem;
    }

    .apresentacao__conteudo__titulo {
        font-size: 1.25rem;
    }

    .apresentacao__conteudo__texto {
        font-size: 1.15rem;
    }

    .apresentacao__links__navegacao {
        width: 60%;
    }
}